<%content_for :title do%>
	Simulador
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "simulador" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_busines.png")%>
<%end%>
<div id="Content">
	<br /><br />
	<%=image_tag("tit_simuladordeeconomiafasterm.png", :width=>"381", :height=>"14")%><br /><br />
	<%=image_tag ("img_line_detailinternal.png", :width=>"867", :height=>"7") %>

	<br /><br /><br />
	<div id="Result_field">
	<br /><br />
	<span><p class="Itmrsult_font_gray">COM <span class="Itmrsult_font_redsmall">FASTERM</span> VOCÊ ECONOMIZA:</p></span><br /><br />
	<span><p  class="Itmrsult_font_redbig">55%</p></span>
	<%if @TOTAL_CO2_ANUAL > 0 && @TOTAL_CO2_MES > 0%>
	<p class="Itmrsult_font_gray">Você deixará de emitir <%=@TOTAL_CO2_ANUAL%>KG por ano e <%=@TOTAL_CO2_MES%>Kg por mês.</p>
	<%end%>
	<br /><br /><br /><br /><br /><br />
	    <%=link_to image_tag("bt_voltar_simulator.png", :width=>"100", :height=>"37",:class=>"Bt_align_sim"),"#" %>

	</div>

</div>
