
<%content_for :title do%>
	Contato
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "contato" %>	
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_contato.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id="Line_box">
			<%= form_for(@Contato) do |f| %>
			<h1 class="Title_internal_h1"><%= image_tag("tit_contato.png", :width=>"112", :height=>"17")%></h1><br />
			<%=image_tag("img_line_ldetail_show.png", :width=>"900" , :height=>"12" ) %>	
			<h2>Para entrar em contato conosco ou agendar uma visita preencha os campos abaixo:</h2>	
			<div id="Contato_boxleft">
				<label>Nome:</label><div id="input_bg_field"><%=f.text_field :name, :class => "input_field"%></div><br />
				<label>E-Mail:</label><div id="input_bg_field"><%=f.text_field :email, :class => "input_field"%></div><br />
				<label>Telefone:</label><div id="input_bg_field"><%=f.text_field :phone, :class => "input_field"%></div><br />
				<label>Empresa:</label><div id="input_bg_field"><%=f.text_field :company, :class => "input_field"%></div><br />
				<label>Cidade:</label><div id="input_bg_field"><%=f.text_field :city, :class => "input_field"%></div><br />
				<label>Estado:</label><div id="input_bg_field"><%=f.text_field :state, :class => "input_field"%></div><br />
			</div>
			<div id="Contato_boxright">
			<label>Assunto:</label>
			<%=f.select :area, raw(
			'<option value="Proposta">Proposta</option>
			 <option value="Consulta">Consulta</option>
			 <option value="Dúvida">Dúvida</option>
			 <option value="Reclamação">Reclamação</option>
			 <option value="Assistência Técnica">Assistência Técnica</option></option>'),{},:class=>"Form_desire"%><br><br>
				<label>Mensagem:</label><div id="input_bg_message"><%=f.text_area(:message, :class=>"input_message")%></div><br />
				<%= image_submit_tag("bt_enviar_contato.png", :width=>"100" , :height=>"37", :class=>"bt_align_contato")  %>
			</div>
			<% end %>
		</div>
	</div>
	<h3>Se preferir, contate-nos pelo telefone 11 4414.1488 ou e-mail contato@fasterm.com.br.
	<br>Estamos à Rua da Bahia, 22 - Recreio Estoril, Atibaia - SP - CEP 12944060</h3>
</div>
	
