	<div id="Breadcrumb">
		administração > <a href="<%=admin_case_case_images_path%>">imagens</a>
	</div>
	<div id="Content">
		<span class="Titulo">Imagens</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_case_case_image_path%></li>
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<% @CaseImages.each do |p| %>
			<tr class="bgCinzaC">
			<td class="Name"><li class="Bullet">
				<%
					linkPub = "<img src='/images/adm/icones/published/"
					linkPub += p.published.to_s
					linkPub += ".png' border='0' class='status' />"
				%>
				<%= raw linkPub%>
				<%=link_to p.title, admin_case_case_image_path(@Case, p) %></li></td>
			<td class="Actions">
				<li class="Edit"><%= link_to "Editar", edit_admin_case_case_image_path(@Case, p)%></li>
				<li class="Del"><%= link_to "Excluir", admin_case_case_image_path(@Case, p), :method => :delete, :confirm => "Tem certeza?"%></li>
			</td>
			</tr>
			<% end %>
			</table>
		</div>
		<div class="Linha"></div>
	</div>
