<h1>Seu Navegador é muito ruim!</h1>
<p><%=browser.platform%><br />
<%=browser.name%><br />
<%=browser.version%><br />
<%=browser.full_version%><br />
<%#=browser.language %>
<%=browser.user_agent%><br /></p>
<p>Troca isso aew rapa!</p>

