
<%if flash[:msg]%>
	<%=flash[:msg]%>
<%end%>

	<div id="Breadcrumb">
		administração > <a href="<%=admin_partners_path%>">parceiros</a>
	</div>
	<div id="Content">
		<span class="Titulo">Parceiros</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_partner_path%></li>
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<% @Partners.each do |u| %>
			<tr class="bgCinzaC">
			<td class="Name"><li class="Bullet">
				<%=link_to u.email, admin_partner_path(u) %></li></td>
			<td class="Actions">
				<li class="Edit"><%= link_to "Editar", edit_admin_partner_path(u)%></li>
				<li class="Del"><%= link_to "Excluir", admin_partner_path(u), :method => :delete, :confirm => "Tem certeza?"%></li>
			</td>
			</tr>
			<% end %>
			</table>
		</div>
		<div class="Linha"></div>
	</div>
