<html>
<head>
<title>NOVA MENSAGEM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<p>Nome: <%=@Contato.name%></p><br />
<p>E-mail: <%=@Contato.email%></p><br />
<p>Telefone: <%=@Contato.phone%></p><br />
<p>Empresa: <%=@Contato.company%></p><br />
<p>Cidade: <%=@Contato.city%></p><br />
<p>Estado: <%=@Contato.state%></p><br />
<p>Mensagem: <br />
<%=@Contato.message%> </p>
<br />
<br />
</body>
</html>