<%content_for :title do%>
	Cases
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "cases" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_cases.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id='tit_internal'>
			<img src='../images/tit_cases.png'>
		</div>
		<div id='Content_cases'>
			<div id='text_content_cases'>
				<h1><%= @Case.title%></h1>
				<%= raw @Case.body%>
			</div>
			<div id='img_content_cases'>
				<ul>
					<% @Imagens.each do |img|%>
						<li class="img_cases_li"><%= lightbox_image_tag(img.image.url("thumb"), img.image.url("c_medio"), {:class=>"images"}, :title => img.title, :rel=>"lightbox[noticias]") %></li>
					<% end %>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<br>
		</div>
		
	</div>
</div>