<%content_for :title do%>
	Esquemas
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "produtos" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_busines.png")%>
<%end%>
<div id="Content">
	<br /><br />
	<%=image_tag("tit_vejacomoinstalarnossosprodutos.png", :width=>"469", :height=>"15")%><br /><br />
	<img src="images/img_line_detailinternal.png" width="867" height="7" />
	<br /><br /><br />
	<%=image_tag("pdf_esquemainstalacoes1.jpg", :width=>"670", :height=>"386")%>
	<%=image_tag("pdf_esquemainstalacoes2.jpg", :width=>"670", :height=>"386")%>
	<%=image_tag("pdf_esquemainstalacoes3.jpg", :width=>"670", :height=>"386")%>

</div>
