<%content_for :title do%>
	Produto
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "produtos_show" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_busines.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id="Box_show">
		<div id="Title_div">
			<span class="Text_span">Linha</span><br />
			<h1 class="Title_h1">
				<% 
					case @Section.id.to_s
						when "8"
							$img = '<img src="/images/tit_home_busines.png" >'
						when "9"
							$img = '<img src="/images/tit_busines.png" >'
						when "10"
							$img = '<img src="/images/tit_solar_busines.png" >'
					end
				%>
				<%= raw $img%>
			</h1>
		</div>			
			<%=image_tag("img_line_ldetail_show.png", :width=>"900" , :height=>"12" ) %>
			<div class="Box_line_item">
				<div class="Box_line_item_description">
				<%= raw @Categoria.description%>
				</div>
				<div class="Buttons_line">
					<%if @Categoria.pdf.exists?%>
						<%=link_to image_tag("bt_informacoes_técnicas.png", :width=>"174" ,:height=>"23"), @Categoria.pdf.url,:target=>"_blank"%>
					<%end%>
					<%if @Categoria.graphic_display%>
						<%=lightbox_image_tag("bt_grafico_comparativo.png", "/images/produtos/grafico.png", :title => "Ver o grafico comparativo")%>
					<%end%>
				</div>
			</div>
			<%=image_tag("img_line_ldetail_show.png", :width=>"900" , :height=>"12" ) %>
			<div class="Photo_line">
				<%
				@Produtos.each do |p|
				%>
				<div class="Photo_box">
					<div class="Photo_title">
						<%= p.title%>
					</div>
					<div class="Photo_photos">
							<%@Imagens = p.product_images.find(:all)
							@Imagens.each do |img|%>
								<%=lightbox_image_tag(img.image.url("p_medio"), img.image.url(), :title => img.legend, :rel=>"lightbox["+p.id.to_s+"]")%>
							<%end%>
					</div>
				</div>
				<%end%>	
			</div>
		<%= link_to image_tag("bt_voltar.png"), linhas_path%>
		</div>
	</div>
</div>