<%content_for :title do%>
	Busca
<%end%>
<%content_for :head do %>	
	<%= stylesheet_link_tag "busca" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_servicos.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_acquisition_h1"><img src="images/tit_resultado.png" /></h1>
		<img src="images/img_line_detailinternal.png" width="903" height="7" />
		<br /><br />
		<h2 class="Title_acquisition_h2">&nbsp;BUSCAR NOVAMENTE ?</h2>
		<div class="Search">
		<%=form_tag '/busca/resultado', :method => :get, :name=>"formkeyword"%>
			<%=text_field_tag :keyword, nil ,:class=>"Search_input"%>
			<%=image_submit_tag "bt_busca.png", :class=>"Bt_busca"%>
		</form>
		</div>
		<br />
		<h2 class="Title_acquisition_h3">RESULTADOS DA BUSCA DE NOTÍCIAS.</h2>
		<br />
		<img src="images/img_detailline_busca.png" class="img_align_line_busca1" />
		<% if @Erro %>
			Preencha o campo Busca!
		<% else %>
			<%if (!@Produtos.blank?) && (!@Noticias.blank?) %>
				<%if (!@Produtos.blank?) %>
					<h3>Produtos</h3>
					<% @Produtos.each do |p| %>
							<div class="Item_busca">
								<label class="Title_name"><%= p.title%></label>
								<p class="Text_busca"><%= p.description %></p>
								<%image_tag ("img_detailline_busca.png"),:class=>"img_align_line_busca2" %>
							</div>
					<%end%>
				<%end%>
				<%if (!@Noticias.blank?) %>
					<h3>Noticias</h3>
					
				<%end%>				
			<% else %>
				Não há resultados de busca!
			<%end%>
		<%end%>
			
		
		
		<div class="Item_busca">
			<label class="Title_name">Treinamento Fasterm</label><span class="Title_data">11/09/2010</span>
			<p class="Text_busca">Dando início aos trabalhos de abertura das para todo o mercado nacional, dos linha Fasterm, realizamos no último dia 19/08, em nossa fábrica em Atibaia, o primeiro treinamento.</p>
			<img src="images/img_detailline_busca.png" class="img_align_line_busca2" />
		</div>
		<br />	



		
		<div id="clear"></div>
		</div>
	</div>
</div>