<%if flash[:msg]%>
	<%=flash[:msg]%>
<%end%>

	<div id="Breadcrumb">
		administração > <a href="<%=admin_section_categories_path%>">categorias</a>
	</div>
	<div id="Content">
		<span class="Titulo">Categorias</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_section_category_path%></li>
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<% @Categories.each do |g| %>
			<tr class="bgCinzaC">
			<td class="Name"><li class="Bullet">
				<%
					linkPub = "<img src='/images/adm/icones/published/"
					linkPub += g.published.to_s
					linkPub += ".png' border='0' class='status' />"
				%>

				<%= raw linkPub %>
				
				<%=link_to g.title, admin_section_category_path(@Section, g) %></li>
			</td>
			<td class="Actions">
				<li class="Edit"><%= link_to "Editar", edit_admin_section_category_path(@Section, g)%></li>
				<li class="Del"><%= link_to "Excluir", admin_section_category_path(@Section, g), :method => :delete, :confirm => "Tem certeza?"%></li>
				<li class="Add"><%= link_to "Produtos", admin_category_products_path(g)%></li>
			</td>
			</tr>
			<% end %>
			</table>
		</div>
		<div class="Linha"></div>
	</div>
