<%= form_for ([:admin, @Category, @Product], :html => { :multipart => :true }) do |f| %>
<% if flash[:msg] %>
<div id="mensagem">
	<h2><%=flash[:msg]%></h2>
	<%= errors_for(@Product, "Ocorreu um erro").html_safe %>
</div>
<% end %>
	<label>
		Nome do Produto:<br>
		<%=f.text_field :title %><br>
	</label><br><br>

	<label>
		PDF:<br>
		<%=f.file_field :pdf %><br>
	</label><br><br>

	<label>
		Video:<br>
		<%=f.file_field :video %><br>
	</label><br><br>
	
	<label>
		Manual:<br>
		<%=f.file_field :manual %><br>
	</label><br><br>	
	
	<label>
		Descrição:<br>
		<%=f.text_area :description, :class => "mceEditor"  %><br>
	</label><br><br>
	
	<label>
		Publicado?<br>
		<%=f.radio_button :published, 0 %> Não
		<%=f.radio_button :published, 1 %> Sim  
	</label><br><br>
	
	<button type="submit">Salvar</button>
<% end %>
