<div id="Menu">
	<ul>
		<li class="Bt_empresa_menu"><%= link_to image_tag("img_trans.png", :width=>"1", :height=>"1"), empresa_index_path%></li>
		<li class="Bt_produtos_menu"><%= link_to image_tag("img_trans.png", :width=>"1", :height=>"1"), linhas_path%></li>
		<li class="Bt_servicos_menu"><%= link_to image_tag("img_trans.png", :width=>"1", :height=>"1"), servicos_path%></li>
		<li class="Bt_cases_menu"><%= link_to image_tag("img_trans.png", :width=>"1", :height=>"1"), cases_path%></li>
		<li class="Bt_cases2_menu"><%= link_to image_tag("img_trans.png", :width=>"1", :height=>"1"), eventos_path%></li>
	</ul>   
</div>