<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel=”shortcut icon” href=”images/ico_faviconfasterm.ico” />
<link rel=”icon” href=”images/ico_faviconfasterm.ico” />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META name='description' content='Bombas de calor e painéis solares para o aquecimento de água com economia e sustentabilidade para você e seu empreendimento. Acesse o site e saiba como.'>
<META name='author' content='Sato7 - Comunicação Estratégica'>
<META name='language' content='portuguese'>
<META name='keywords' content='Fasterm, aquecimento, piscina, banheira, chuveiro, casa, hotel, motel, residencial, empresarial, solar, bomba, calor, painéis, solares, painéis solares, economia, sustentabilidade, nautilus, home, business'>
<title>Fasterm - Aquecedores domésticos e empresariais, painéis solares e acessórios. - <%=yield :title%></title>	
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "jquery"%>
<script>
	jQuery.noConflict();
</script>
<%= csrf_meta_tag %>
<%=stylesheet_link_tag "internal" %>
<%= stylesheet_link_tag "lightbox" %>
<%=yield :head%>
</head>
<body>
<div id="GeneralbgFooter">
	<div id="General">
		<div id="Header">
			<%= render :file => "layouts/_contato.html.erb"%>
			<%= render :file => "layouts/_menu.html.erb"%>
			<div id="Logo">
				<%= link_to image_tag('logo.png'), root_path%>
			</div>
		</div>
        <div id="Featured">
			<div id="Carousel_freatured">
				<%=yield :featured_image%>	
			</div>
		</div>
		<%= yield %>                                                                          
		<div id="clear"></div>
		<div id="Footer"> 
			<%= render :file => "layouts/_footer.html.erb"%>
		</div>
	</div>    
</div>
</body>
</html>
