<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fasterm</title>
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "jquery"%>
<script>
	jQuery.noConflict();
</script>	
<%= javascript_include_tag "jquery.cycle.all.min" %>
<script>
jQuery(document).ready(function() {	
	jQuery('#Carousel_freatured').cycle({
		fx: 'fade',
		speed: 3500,
		timeout: 10000
	});
});
</script>
<%=csrf_meta_tag %>
<%= stylesheet_link_tag "template" %>
</head>

<body>
<div id="GeneralbgFooter">
	<div id="General">
		<div id="Header">
			<%= render :file => "layouts/_contato.html.erb"%>
			<%= render :file => "layouts/_menu.html.erb"%>
			<div id="Logo">
				<a href'#'><img src='images/logo.png'></a>
			</div>
		</div>
		<div id="Featured">
			<div id="Carousel_freatured">
				<% @Highlights.each do |destaque|%>
				<div>
					<%= link_to image_tag(destaque.image.url), destaque.link%>
					<!--img src="images/destaque.jpg" width="798" height="325"/-->
				</div>
				<% end %>
			</div>		
		</div>
		<div id="Content">
			<div class="Box_content">
				<h1><img src="images/tit_porqueafasterm.png" width="221" height="51" /></h1>
				<br />
				<img src="images/img_porquefasterm.jpg" width="260" height="89" />
				<br /><br />
				<p class="font_green_12">Conheça a Fasterm e entenda por que temos a melhor solução em aquecimento de água para sua empresa.</p>
			</div>
			<div class="Box_content">
				<h1><img src="images/tit_casesdesucesso.png" width="211" height="54" /></h1>
				<br />
				<img src="images/img_casesdesucesso.jpg" width="261" height="91" />
				<br /><br />
				<p class="font_blue_12">Conheça nossos cases de sucesso e veja como o sistema Fasterm gera grande economia com sustentabilidade.</p>
			</div>   
			<div class="Box_content">
				<h1><img src="images/tit_sistemafastermecono.png" width="312" height="59" /></h1> 
				<%=link_to image_tag("img_sistemafastermeconomia.jpg", :width=>"337", :height=>"186"),simulations_path %>    
				<br />   
			</div>     
			<div class="Box_video">
				<h1><img src="images/tit_video.png" width="118" height="50" /></h1> 
				<br /><br />
				<img src="images/img_video.jpg" width="309" height="174" />    
				<br />  <br />
				<p class="font_red_12">Assista ao vídeo e entenda como a Fasterm pode gerar economia com sustentabilidade para a sua empresa.p> 
				<br />
				<p class="font_red_12">Assista ao vídeo e entenda como a Fasterm pode gerar economia com sustentabilidade para a sua empresa.</p>  
			</div>		
			<div class="Box_content_noticias_left">			
				<div class="Box_content" id='Noticias'>
					<h1><img src="images/tit_noticias.png" width="117" height="48" /></h1> 
					<br /> 
					<h2>Treinamento Fasterm </h2>
					<br /> 
					<p id="Data">11/09/2010</p> 
					<br />  
					<p class="font_black_12">Dando início aos trabalhos de abertura das para todo o mercado nacional, dos linha Fasterm, realizamos no último dia19/08, em nossa fábrica em Atibaia, o primeiro treinamento.</p> 
				</div>  
				<div class="Box_content" id='Noticias'>
					<h1></h1> 
					<br /> 
					<h2>Treinamento Fasterm </h2>
					<br /> 
					<p id="Data">11/09/2010</p> 
					<br />  
					<p class="font_black_12">Dando início aos trabalhos de abertura das para todo o mercado nacional, dos linha Fasterm, realizamos no último dia19/08, em nossa fábrica em Atibaia, o primeiro treinamento.</p> 
				</div>
				<div class="clear"></div>
			</div>			
		</div>
		<div id="clear"></div>
		<%= render :file => "layouts/_footer.html.erb"%>
	</div>    
</div>
</body>
</html>
